.indian{
    margin-top: 250px;
    margin-left: 50px;
    box-shadow: 2px 2px rgb(255, 255, 255);
    color: white;
    background-color: black;
}
.indian2{
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 2px 2px rgb(252, 252, 252);
    color: white;
    background-color: black;
}